################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BotApplication0/bin
/BotApplication0/obj/x86/Debug
/ClassLibraryCS/bin/x86/Debug
/ClassLibraryCS/obj/x86/Debug
/BotApplication0/Properties/PublishProfiles
/ClassLibraryDBL/bin/x86/Debug
/ClassLibraryDBL/obj/x86/Debug
/ConferenceRepository/bin
/ConferenceRepository/obj
/packages
